# Server
PORT=5000
CLIENT_URL=http://localhost:5173

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_REDIRECT_URI=http://localhost:5000/api/auth/google/callback

# Video processing
NVIDIA_GPU=True
FONT_PATH=../fonts/OpenSansExtraBold.ttf

# Filebin
FILEBIN_KEY=your_filebin_key